@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Ubuntu:300,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: Comfortaa, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}

.ui.header,
.ui.segment {
  font-family: Ubuntu, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.ui.menu,
.ui.button {
  font-family: Comfortaa, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.form .field > label {
  font-weight: 300;
}

.ui.basic.segment {
  padding: 0.5em;
}
